@if (flashMessages.has('success'))
<script>
    new Noty({
        type: 'success',
        layout: 'topRight',
        text: '🎉 Succès ! Votre action a été complétée avec succès. 👍',
        timeout: 3000
    }).show();
</script>
@endif

@if (flashMessages.has('connected'))
<script>
    new Noty({
        type: 'success',
        layout: 'topRight',
        text: '😊 Heureux de vous revoir à nouveau ! 🎉',
        timeout: 3000
    }).show();
</script>
@endif

@if (flashMessages.has('InvalidCredentials'))
<script>
    new Noty({
        type: 'error',
        layout: 'topRight',
        text: '⚠️ Oupsss ! Identifiants incorrects... ❌',
        timeout: 3000
    }).show();
</script>
@endif

@if (flashMessages.has('blocked'))
<script>
    new Noty({
        type: 'error',
        layout: 'topRight',
        text: '🔒 Oupsss ! Ce compte est bloqué... 🚫',
        timeout: 3000
    }).show();
</script>
@endif

@if (flashMessages.has('error'))
<script>
    new Noty({
        type: 'error',
        layout: 'topRight',
        text: '🚫 Une erreur est survenue ! 😔',
        timeout: 3000
    }).show();
</script>
@endif
@if (flashMessages.has('EditComment'))
<script>
    new Noty({
        type: 'success',
        layout: 'topRight',
        text: '🎉 Succès ! Commentaire mis à jour avec succès. 👍',
        timeout: 3000
    }).show();
</script>
@endif
@if (flashMessages.has('fileUploaded'))
<script>
    new Noty({
        type: 'success',
        layout: 'topRight',
        text: '🎉 Succès ! Fichier uploadé avec succès. 👍',
        timeout: 3000
    }).show();
</script>
@endif
@if (flashMessages.has('GroupCreated'))
<script>
    new Noty({
        type: 'success',
        layout: 'topRight',
        text: '🎉 Succès ! Group créé avec succès. 👍',
        timeout: 3000
    }).show();
</script>
@endif
@if (flashMessages.has('disconnected'))
<script>
    new Noty({
        type: 'success',
        layout: 'topRight',
        text: '🎉 Succès ! Vous êtes déconnectés. 👍',
        timeout: 3000
    }).show();
</script>
@endif
@if (flashMessages.has('blocked'))
<script>
    new Noty({
        type: 'success',
        layout: 'topRight',
        text: '🎉 Succès ! Utilisateur bloqué avec succès . 👍',
        timeout: 3000
    }).show();
</script>
@endif
@if (flashMessages.has('unblocked'))
<script>
    new Noty({
        type: 'success',
        layout: 'topRight',
        text: '🎉 Succès ! Utilisateur a été bloqué avec succès 👍',
        timeout: 3000
    }).show();
</script>
@endif