@if(flashMessages.has('success'))
    <div class="alert alert-success">
        <script>
            Swal.fire({
      icon: 'success',
      title: 'Succès',
      text: 'Message envoyé avec succès',
      showConfirmButton: false,
      timer: 3000
    })
        </script>
    </div>
@endif

@if(flashMessages.has('error'))
    <div class="alert alert-danger">
        {{ flashMessages.get('error') }}
    </div>
@endif

