<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Sup'Memoire | Connexion</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicons/favicon.ico">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="/assets/js/config.navbar-vertical.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="/assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="/assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/theme.css" rel="stylesheet">

</head>


<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark navbar-theme">
            <div class="container"><a class="navbar-brand" href="/index.html"><span
                        class="text-white">Sup'Memoire</span></a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse scrollbar perfect-scrollbar" id="navbarStandard">

                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownLogin"
                                href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Se Connecter</a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-card"
                                aria-labelledby="navbarDropdownLogin">
                                <div class="card shadow-none navbar-card-login">
                                    <div class="card-body fs--1 p-4 font-weight-normal">
                                        <div class="row text-left justify-content-between align-items-center mb-2">
                                            <div class="col-auto">
                                                <h5 class="mb-0">Connexion</h5>
                                            </div>

                                        </div>
                                        <form action="{{ route('CheckLogin') }}" method="post">
                                            <div class="form-group">
                                                <input class="form-control" type="email" name="email"
                                                    placeholder="Addresse Email" />
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" type="password" name="password"
                                                    placeholder="Mot de passe" />
                                            </div>

                                            <div class="form-group">
                                                <button class="btn btn-primary btn-block mt-3" type="submit"
                                                    name="submit">Se Connecter</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body p-4">
                        <div class="row text-left justify-content-between align-items-center mb-2">
                            <div class="col-auto">
                                <h5 id="modalLabel">Connectez-vous </h5>
                            </div>
                            <div class="col-auto">
                                <p class="fs--1 text-600 mb-0">(identifiants Sup'school)</p>
                            </div>
                        </div>
                        <form action="{{ route('CheckLogin') }}" method="post">

                            <div class="form-group">
                                <input class="form-control" type="email" name="email" placeholder="Adresse Email" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password"
                                    placeholder="Mot de passe" />
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary btn-block mt-3" type="submit" name="submit">Se
                                    Connecter</button>
                            </div>
                        </form>
                        <div class="w-100 position-relative mt-4">
                            <hr class="text-300" />
                            <div
                                class="position-absolute absolute-centered t-0 px-3 bg-white text-sans-serif fs--1 text-500 text-nowrap">
                                Liens Utiles</div>
                        </div>
                        <div class="form-group mb-0">
                            <div class="row no-gutters">
                                <div class="col-sm-6 pr-sm-1"><a
                                        class="btn btn-outline-google-plus btn-sm btn-block mt-2" href="#"><span
                                            class="fab fa-google-plus-g mr-2" data-fa-transform="grow-8"></span>
                                        Sup'School</a></div>
                                <div class="col-sm-6 pl-sm-1"><a class="btn btn-outline-facebook btn-sm btn-block mt-2"
                                        href="#"><span class="fab fa-facebook-square mr-2"
                                            data-fa-transform="grow-8"></span> E-Learning</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0 overflow-hidden" id="banner">

            <div class="bg-holder overlay"
                style="background-image:url(/assets/img/generic/soutImage2.jpg);background-position: center bottom;opacity:0.7;">
            </div>
            <!--/.bg-holder-->

            <div class="container">
                <div class="row justify-content-center align-items-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
                    <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-left">
                        <a class="btn btn-outline-danger mb-4 fs--1 border-2x rounded-pill" href="#!">
                            <span class="mr-2" role="img" aria-label="Info">ℹ️</span> Connexion Étudiant
                        </a>
                        <h1 class="text-white font-weight-light">
                            Accédez à <span class="typed-text font-weight-bold"
                                data-typed-text='["vos mémoires","vos soutenances","vos évaluations","vos commentaires"]'></span><br />
                            facilement
                        </h1>
                        <p class="lead text-white opacity-75">
                            Connectez-vous pour téléverser vos mémoires, suivre les commentaires de vos soutenances, et
                            gérer
                            vos projets académiques en toute simplicité.
                        </p>
                        <a class="nav-item btn btn-outline-light border-2x rounded-pill btn-lg mt-4 fs-0 py-2" href="#!"
                            data-toggle="modal" data-target="#exampleModal">
                            Se connecter<span class="fas fa-play" data-fa-transform="shrink-6 down-1 right-5"></span>
                        </a>
                    </div>
                    <div class="col-xl-7 offset-xl-1 align-self-end">
                        <a class="img-landing-banner" href="/index.html">
                            <img class="img-fluid" src="/assets/img/generic/dashboard-alt.png"
                                alt="Sup'memoire Dashboard" />
                        </a>
                    </div>
                </div>
            </div>
            <!-- end of .container-->

        </section>


        <!-- <section> close ============================-->
        <!-- ============================================-->




        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-3 bg-light shadow-sm">

            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="60"
                            src="/assets/img/Partner/amaqSup.png" alt="" /></div>
                    <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="60"
                            src="/assets/img/Partner/AUF.png" alt="" /></div>
                    <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="60"
                            src="/assets/img/Partner/Cames.png" alt="" /></div>
                    <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="60"
                            src="/assets/img/Partner/eduMl.png" alt="" /></div>
                    <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="60"
                            src="/assets/img/Partner/aabs.png" alt="" /></div>
                    <div class="col-3 col-sm-auto my-1 my-sm-3 px-card"><img class="landing-cta-img" height="60"
                            src="/assets/img/Partner/EA.png" alt="" /></div>

                </div>
            </div>
            <!-- end of .container-->

        </section>
        <!-- <section> close ============================-->
        <!-- ============================================-->







    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/lib/@fortawesome/all.min.js"></script>
    <script src="/assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="/assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="/assets/lib/is_js/is.min.js"></script>
    <script src="/assets/lib/lodash/lodash.min.js"></script>
    <script src="/assets/lib/perfect-scrollbar/perfect-scrollbar.js"></script>
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
        rel="stylesheet">
    <script src="/assets/lib/owl.carousel/owl.carousel.js"></script>
    <script src="/assets/lib/typed.js/typed.js"></script>
    <script src="/assets/js/theme.js"></script>

</body>

</html>